body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to top right, white 55%, #F8D8A1  100%);
    background-size: 100% 30%;
    background-repeat: no-repeat;
}

.logo-link {
    padding: 10px 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 24px;
    color: black;
    text-decoration: none;
}
.JEZ {
    color: #FB9300;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 50px;
}

.nav-header {
    color: #575757;
    font-size: 16px;
}

.header-link-home {
    color: #FB9300;
    text-decoration: none;
    margin-right: 56px;
}

.header-link {
    color: #575757;
    text-decoration: none;
    margin-right: 56px;
}

.header-link:hover {
    color: #FB9300;
}

.sign-button {
    width: 130px;
    height: 54px;
    padding: 24px 32px;
    background: #FB9333;
    color: white;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-button:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}

.banner {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
}

.banner-subheader {
    width: 213px;
    height: 53px;
    background: #FFF0DC;
    color: #FB9333;
    border: none;
    border-radius: 100px;
    font-size: 16;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.banner-header {
    color: #575757;
    font-size: 72px;
    font-weight: 700;
    line-height: 93.6px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner-content {
    width: 50%;
}

.banner-images {
    width: 50%;
    position: relative;
}

.Skip-header {
    color: #E48F45;
}

.banner-text {
    font-size: 20px;
    color: #828282;
    font-weight: 500;
    line-height: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.order-food {
    width: 192px;
    height: 68px;
    background: #FB9333;
    color: white;
    border: none;
    padding: 24px 32px;
    border-radius: 100px;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    margin-top: 40px;
}

.order-food:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}

.banner-statistic {
    display: flex;
    gap: 70px;
    margin-top: 40px;
}

.stat-number {
    font-size: 24px;
    color: #575757;
    font-weight: 600;
    line-height: 38.4px;
}

.stat-name {
    font-size: 16px;
    color: #828282;
    font-weight: 500;
    line-height: 25.6px;
}

.banner-woman {
    display: inline-block;
    width: 100%;
}

.Like {
    position: absolute;
    top: 1%;
    left: 80%;
    width: 100px;
    height: auto;
}

.banner-dots {
    position: absolute;
    top: 23%;
    left: 13%;
    width: 200px;
    height: auto;
    z-index: -1;
}
.banner-dots-2 {
    position: absolute;
    top: 30%;
    left: 70%;
    width: 200px;
    height: auto;
    z-index: -1;
}


.customer-review {
    display: flex;
    align-items: center;
    position: absolute;
    width: 288px;
    height: 70px;
    top: 591px;
    left: 30%;
    transform: translateX(-50%);
    background-color: white;
    border-radius: 100px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 5px 10px;
    margin-top: 30px;
}

.smile-icon {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.review-content {
    display: flex;
    flex-direction: column;
}

.review-name {
    font-size: 16px;
    color: #575757;
    font-weight: 600;
}

.review-num {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #808080;
    font-weight: 400;
    line-height: 18px;
    gap: 5px;
}

.star-icon {
    width: 14px;
    height: 14px;
}

.review-point {
    font-size: 12px;
    color: #575757;
    font-weight: 600;
    line-height: 18px;
}

.calories-info {
    align-items: center;
    position: absolute;
    max-width: 90%;
    height: 193px;
    top: 557px;
    left: 80%;
    transform: translateX(-50%);
    background-color: white;
    border-radius: 28px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 5px 10px;
    margin-top: 55px;
}

.banner-article-calories {
    font-size: 16px;
    font-weight: 500;
    color: #575757;
    
    margin-bottom: 5px;
    text-align: center;
}

.calories-value {
    font-size: 24px;
    font-weight: 600;
    color: #2B2B2B;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.calories-chart {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: flex-end;
    height: 80px;
    gap: 4px;
    padding: 0 5px;
}

.bar {
    width: 12px;
    height: 100%;
    background: #EDEDED;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
}

.fill {
    width: 100%;
    background: linear-gradient(to top, #F8D8A1, #E3802D);
    border-radius: 6px;
    transition: height 0.3s ease;
}